<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../../public/style/layout.css">-->
  <link rel="stylesheet" href="style/layout.css">
  <link rel="stylesheet" href="style/modules.css">


</head>

<body>
  <h1>Home</h1>
  <h2>
    <span>
      <%= books.length %>
    </span> Saved Books
  </h2>
  <% books.forEach(item=>{%>
    <div>
      <img src="<%= item.img_url %> " alt="">
      <h4>
        <%= item.title %>
      </h4>
      <h5>
        <%= item.author %>
      </h5>
      <p>
        <%= item.description %>
      </p>

      <form style="visibility:hidden" action="/books/<%=item.id %>" method="get">


        <button style="visibility:visible;" type="submit">View Details</button>
      </form>

    </div>

    <%}) %>

</body>

</html>